body
{
	font-size: 14pt;
	white-space: nowrap;
}

.button
{
	height: 18px;
	border: 0, solid, #000000
}

.conteiner
{
	margin-left: 20px
}

a:link
{
	font-size: 14pt;
	color: black;
	font-style: normal;
	text-decoration: none;
}

a:active
{
	font-size: 16pt;
	color: black;
	font-style: normal;
	text-decoration: none;
}

a:visited
{
	font-size: 14pt;
	color: black;
	font-style: normal;
	text-decoration: none;
}

a:hover
{
	font-size: 14pt;
	color: blue;
	font-style: normal;
	text-decoration: none;
	font-weight: bold
}